<html>
    <head>
            <title>
                <%= title %>
            </title>
    </head>
    <body>
       <h1> Playground</h1>
       <h2>you are in my contact</h2>
    </body>
</html>